.navbar {
  
  width: 100%;

  .navbar-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;


    h3 {
      margin-left: 2rem;
      color: $primary_text;
      font-size: 2.75rem;
    }
  }

  .navbar-nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;

    .nav-item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 0 1rem;

      svg {
        fill: $primary_text;
        transition: filter 300ms;
        height: 34px;
        width: 34px;
      }

      svg:hover {
        filter: brightness(0.5);
      }

      .nav-menu {
        position: absolute;
        top: 60px;
        width: 250px;
        background-color: $primary_text_color;
        transform: translate(-37%);
        overflow: hidden;
        animation: fadeIn linear .8s;
        

        

        .nav-links {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          .link-text {
            font-size: 1.5rem;
          }
        }
      }

      @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }

      
      .menu-button {
        margin-top: 1rem;
        cursor: pointer;
      }

      .nav-menu-link {
        transition: filter 300ms;
        margin: 1rem 0;

        &:hover {
          filter: brightness(0.5);
        }
      }
    }
    
  }
}

@media only screen and (max-width: 540px) {

  
  .navbar {
    .navbar-nav{
      


      .nav-item{
        .nav-menu{
          transform: translateY(27%);
        
        }
      }
    }
  }

  .navbar-container {
    flex-direction: column;
    text-align: center;
    max-width: 100%;

    h3 {
      margin-right: 2rem;
    }
  }
  
  
  
}


