.header {
    padding: 0;
    margin: 0;
    background-color: $secondary_color;
    align-items: center;
    height: 5vh;
    display: flex;

    .social_group {
        padding: 0 10px;
        ul {
            display: flex;

            li {
                padding: 0 5px;
            }

            li:hover {
                color: $primary_color;
            }
        }
    }

   
}