* {
    box-sizing: border-box;

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    a:visited {
        color: inherit;
        
    }

    margin: 0;
    padding: 0;

    body {
        background-color: $primary_color;
        color: $primary_text;
        font-family: $primary_font;
        margin: 0;
        padding: 0;
    }

   
}
