.home {
    min-height: 95vh;
    min-width: 100vw;
    background-image: url('../../Assets/Img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



